#navbarSupportedContent {
  right: 0;
  position: absolute;
  padding-right: 50px;
}

#navbarNav{
  display:flex;flex-direction: row-reverse
}
#logo {
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
   
    padding-left: 1em;padding-right: 1em;
}
#navbarNav a{
  margin-left: 15px;
    line-height: 18px;
    color: #999;
}
body{
  color: #777;
    background-image: url("images/imagenew.jpg");
    margin-bottom: 50px;
    min-height: calc(100vh - 70px);
    padding-bottom: 120px;
    position: relative;
}
nav{
  background-color: #fff
}
#main-container{
  background-color: #fff;
  padding: 50px;
}
h1{
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    color: black !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-weight: 700 !important;
}
footer{
  color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid rgb(52, 134, 184);
    height: 70px;
    bottom: 0;
    position: absolute;
    width:100%;

}

a .nav-item:hover {
  color: purple;
}

img{
  max-width: 100%;
  height:250px;
}
.main-section{
  clear: both;
  padding: 4em;
}
.work
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.row {
  margin-top:30px;
}

#twilight {
  padding-top:30px;
  background-image: url("images/Twilight Zone Theme Phychic Game.png");
  height: 340px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 

}


#crystal {
  padding-top:30px;
  background-image: url("images/Crytsal Game .png");
  height: 340px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

#harry {
  padding-top:30px;
  background-image: url("images/Harry Potter Trivia.png");
  height: 340px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}

#train {
  padding-top:30px;
  background-image: url("images/Train Station.png");
  height: 340px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}


#pokemon {
  padding-top:30px;
  background-image: url("images/Pokemon Gif.png");
  height: 340px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}